:root {
    --bg-1: #031544;
    --bg-2: #1c3ca1;
    --bg-3: #5b4c97;
    --bg-4: #bd6267;
    --bg-grid-width: 80px;
    --bg-container: #ffffff50;
    --border-container: #11111138;
    --bg-button: #1065C0;
    --bg-button-hover: #0747A1;
}

@font-face {
    font-family: text;
    src: url('https://pdfmaker-bvjy.onrender.com/fonts/WorkSans.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

* {
    /* border-sizing: border-box; */
    padding: 0;
    margin: 0;
    font-family: text, Arial, sans-serif;
    font-weight: 500;
}

.container > h1 {
    text-align: center;
    font-weight: bolder;
    padding: 12px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.152);
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(
        45deg, var(--bg-1),
        var(--bg-2), var(--bg-3),
        var(--bg-4)
    );
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: 
        repeating-linear-gradient(
            to right,
            rgba(255, 255, 255, 0.2) 0px 2px,
            transparent 2px var(--bg-grid-width)
        ),
        repeating-linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.2) 0px 2px,
            transparent 2px var(--bg-grid-width)
        )
    ;
}

.container {
    background-color: var(--bg-container);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--border-container);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 9999;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    animation: fadeIn 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

textarea {
    resize: none;
    outline: none;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--bg-container);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}
select {
    background-color: var(--bg-container);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

select, button {
    padding: 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
}

button {
    padding: 12px 0;
    color: white;
    font-weight: bolder;
    background-color: var(--bg-button);
    cursor: pointer;
    transition: all .2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button:hover, button:active {
    background-color: var(--bg-button-hover);
}

.text { background: linear-gradient(45deg, #1E97F3, #64B7F6); }
.pdf { background: linear-gradient(45deg, red, tomato); }
.text, .pdf {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 900;
}
.highlight {
    border-bottom: 2px solid var(--bg-button);
    color: var(--bg-button);
    font-weight: bold;
    padding: 2px 0;
}

.block {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 12px;
}
.block > input {
    outline: none;
    padding: 16px;
    border-radius: 12px;
    background-color: var(--bg-container);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    text-align: center;
}

@media (max-width: 640px) {
    .container {
        margin: 0 20px;
    }
}