<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site pour convertir un texte en PDF.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="x-verse">

    <meta property="og:title" content="PDFMaker">
    <meta property="og:description" content="Site pour convertir un texte en PDF.">
    <meta property="og:image" content="https://pdfmaker-bvjy.onrender.com/image/pdf.svg">
    <meta property="og:url" content="https://pdfmaker-bvjy.onrender.com">
    <meta property="og:type" content="website">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="PDFMaker">
    <meta property="twitter:description" content="Site pour convertir un texte en PDF.">
    <meta property="twitter:image" content="https://pdfmaker-bvjy.onrender.com/image/pdf.svg">

    <link rel="stylesheet" href="{{ static_url('css/index.css') }}">
    <link rel="shortcut icon" href="https://pdfmaker-bvjy.onrender.com/image/pdf.svg" type="image/x-icon">

    <title>PDFMaker</title>
</head>
<body>
    <div class="container">
        <h1>
            Transform your </br>
            <span class="text">TEXT</span> to 
            <span class="pdf">PDF</span>
        </h1>

        <p>
            Turn plain chat-style writing into a clean
            PDF. Wrap words with <span class="highlight">_ to underline</span>,
            <span class="highlight">* to bold</span>.
        </p>
        <textarea id="text" rows="10" placeholder="Your text here..."></textarea>
        
        <select id="font-family">
            <option value="Work sans">Work sans</option>
            <option value="JetBrains">JetBrains</option>
        </select>
        <button id="btn">
            <img src="https://pdfmaker-bvjy.onrender.com/image/download.svg" width="25px" height="25px" alt="download-image">
            Convert and Download
        </button>
    </div>

    <script src="{{ static_url('js/index.js') }}"></script>
</body>
</html>